spring:
  application:
    name: kimhab-spring-kafka-stream-demo
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    properties:
      spring.json.add.type.headers: false # optional, prevents type headers in messages

    streams:
      application-id: kimhab-spring-kafka-stream-demo
      properties:
        default:
          key:
            serde: org.apache.kafka.common.serialization.Serdes$StringSerde
          value:
            serde: com.kafka.kimhabspringkafka.serde.TransactionSerde

      state-dir: src/main/resources/templates # store stateful - rockDB - in memory

server:
  port: 8080